@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");

  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
}

/* Apply the font */
body {
  font-family: "Montserrat", sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  background-color: #2148c0;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  pointer-events: none;
}
